    <!-- Preloader -->
    <div class="preloader"></div>
 	
 	<!-- Main Header-->
    <header class="main-header">
    	
		<!--Header Top-->
    	<div class="header-top">
    		<div class="auto-container">
				<div class="clearfix">
					<!--Top Left-->
					<div class="top-left">
						<ul>
							<li><span class="icon fa fa-map-marker"></span><a href = "https://www.worldometers.info/coronavirus/country/swaziland/">COVID-19 Update in Eswatini</a></li>
						</ul>
					</div>
					<!--Top Right-->
					<div class="top-right">
						<div class="timing">Opening Hours: Monday - Saturday 9 am to 5 pm</div>
						<!--Social Box-->
						<ul class="social-box">
							<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
							<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
						</ul>
						<!--Language-->
					</div>
				</div>
			</div>
		</div>
    	
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="clearfix">
                	
                	<div class="pull-left logo-box">
                    	<div class="logo"><a href="/"><!--<img src="/images/eswatini.png" alt="" title="Logo" width = "300px" height = "76px ">--></a></div>
                    </div>
                    
                    <div class="pull-right upper-right">
                    	<div class="info-outer clearfix">
							<!--Info Box-->
							<div class="upper-column info-box">
								<div class="icon-box"><span class="flaticon-contact-1"></span></div>
								<ul>
									<li><span>Free Call</span> <br> +268 2505 6777</li>
								</ul>
							</div>
							
							<!--Info Box-->
							<div class="upper-column info-box">
								<div class="icon-box"><span class="flaticon-email-2"></span></div>
								<ul>
									<li><span>Mail Us</span> <br> icon@icon.co.sz</li>
								</ul>
							</div>
							
							<!--Info Box-->
							<div class="upper-column info-box">
								<a href="/#quoteform" class="theme-btn btn-style-two">Get A Quoter</a>
							</div>
                        </div>
						
						<!--Header Lower-->
						<div class="header-lower">
							<div class="nav-outer clearfix">
								<!-- Main Menu -->
								<nav class="main-menu navbar-expand-md">
									<div class="navbar-header">
										<!-- Toggle Button -->    	
										<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									
									<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
										<ul class="navigation clearfix">
											<li class="current"><a href="/">Home</a></li>
											<li class="dropdown"><a href="/about">About</a>
												<ul>
													<li><a href="/about">About Us</a></li>
													<li><a href="/faq">Faq</a></li>
													<li><a href="/team">Team</a></li>
												</ul>
											</li>
											<li><a href="/services">Services</a>
											<li><a href="/projects">Projects</a></li>
											
											<li><a href="/contact">Contact us</a></li>
											
										</ul>
									</div>
								</nav>
								
						
							</div>
							
						</div>
						<!--End Header Lower-->
						
                    </div>
                    
                </div>
            </div>
        </div>
	
        <!--End Header Upper-->
        
		<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="index-2.html" class="img-responsive"><!--<img src="/images/eswatini.png" width = "170px" height = "50px" alt="" title="">--></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="/">Home</a>
								<li class="dropdown"><a href="/about">About</a>
									<ul>
										<li><a href="/about">About Us</a></li>
										<li><a href="/faq">Faq</a></li>
										<li><a href="/team">Team</a></li>
									</ul>
								</li>
								<li><a href="/services">Services</a></li>
								<li class="/projects"><a href="/projects">Projects</a></li>
								<li><a href="/contact">Contact us</a></li>
								
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div>
        <!--End Sticky Header-->
    </header>
    <!--End Main Header -->