<section class="projects-page-section">
		<div class="auto-container">
	         <div class="sec-title" style = "background: #ffaa00; border-radius: 10px;">
		         <div class="title-inner">
			         <div class="title" style = "color:white;">Detailed Services</div>
			         <h2>Our Services</h2>
		         </div>
             </div>
			<!--MixitUp Galery-->
            <div class="mixitup-gallery">
                
                <!--Filter-->
                <div class="filters text-center clearfix">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="active filter" data-role="button" data-filter="all">All Cases</li>
                        <li class="filter" data-role="button" data-filter=".oil">Hospitals</li>
                        <li class="filter" data-role="button" data-filter=".mechanical">Schools</li>
                        <li class="filter" data-role="button" data-filter=".chemical">Houses</li>
                        <li class="filter" data-role="button" data-filter=".industry">Offices</li>
						<li class="filter" data-role="button" data-filter=".architecutre">Universities</li>
                    </ul>
                </div>
                
                <div class="filter-list row clearfix">
					
					<!-- Project Block -->
					<div class="project-block mix oil industry col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/project-1.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/image-1.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										<a class="link" href="team.html"><span class="icon flaticon-link"></span></a>
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3><a href="team.html">Concrete Side Drains</a></h3>
											<div class="category">MR3 Highway</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix chemical col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/project-2.jpg" alt=""  style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/project-2.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										<a class="link" href="team.html"><span class="icon flaticon-link"></span></a>
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3><a href="team.html">Foot Bridge</a></h3>
											<div class="category">Mhlangeni Community</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/project-3.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/project-3.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										<a class="link" href="team.html"><span class="icon flaticon-link"></span></a>
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3><a href="team.html">Bridge Construction</a></h3>
											<div class="category">Lozitha</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix chemical col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/project-4.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/project-4.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										<a class="link" href="team.html"><span class="icon flaticon-link"></span></a>
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3><a href="team.html">Steel ﬁxing</a></h3>
											<div class="category">Lozitha</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix oil industry col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/project-5.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/project-1.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										<a class="link" href="team.html"><span class="icon flaticon-link"></span></a>
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3><a href="team.html">Concrete drainage pipes and kerb laying</a></h3>
											<div class="category">Siteki</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix mechanical architecutre col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/project-6.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/project-2.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										<a class="link" href="team.html"><span class="icon flaticon-link"></span></a>
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3><a href="team.html">Siteki town Hall</a></h3>
											<div class="category">Siteki</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix mechanical col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/project-7.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/project-3.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										<a class="link" href="team.html"><span class="icon flaticon-link"></span></a>
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3><a href="team.html">Concrete Side Drains, Block paving walkways</a></h3>
											<div class="category">MR3 Highway</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix chemical architecutre col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/project-8.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/project-4.jpg" data-fancybox="gallery-1" data-caption="" ><span class="flaticon-plus-symbol" ></span></a>
										<a class="link" href="team.html"><span class="icon flaticon-link"></span></a>
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3><a href="team.html">Concrete Walk Ways</a></h3>
											<div class="category">MR3 Highway</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					
					<!-- Project Block -->
					
					
					<!-- Project Block -->
					
					
					<!-- Project Block -->
				</div>
				
			</div>
			
			<div class="btn-box text-center">
				<a href="#" class="theme-btn btn-style-two">More Project</a>
			</div>
			
		</div>
		
	</section>
	<!-- End Projects Page Section -->
	
	<!-- Newsletter Section Two -->
	<section class="newsletter-section-two" style="background-image:url(images/background/6.jpg);">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Title Column -->
				<div class="title-column col-lg-7 col-md-12 col-sm-12">
					<!-- Sec Title -->
					<div class="sec-title light">
						<div class="title-inner">
							<div class="title">Don’t miss out on anything!</div>
							<h2>Subscribe to our newsletter</h2>
						</div>
					</div>
					<div class="text"> Get the latest news about ICON construction company.<br> Learn more about current projects.</div>
					            

					<!-- Newsletter Form -->
					<div class="newsletter-form">
						<form method="post" action="http://ary-themes.com/html/buliten/contact.html">
							<div class="form-group clearfix">
								<input type="email" name="email" value="" placeholder="Email Address" required>
								<button type="submit" class="theme-btn btn-style-four">Submit Now</button>
							</div>
						</form>
					</div>
					
				</div>
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="images/resource/newsletter.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>
	
	<!--Sponsors Section-->
    <section class="sponsors-section">
    	<div class="auto-container">
        	
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>
    <!--End Sponsors Section-->