	<section class="services-section section-margin" style = "background-image:url(images/background/4.jpg)">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title-inner" style = "background: #ffaa00; border-radius: 10px;">
					<div class="title" style = 'color:white'>What we offer</div>
					<h2>Building & Construction</h2>
				</div>
			</div>
			
			<div class="row clearfix">
			
				<!-- Services Block -->
				<div class="services-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="oil-gas.html"><img src="images/resource/service-1.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-layer"></div>
							<div class="lower-layer"></div>
							<h3><a href="oil-gas.html"> Civil Engineering</a></h3>
							<div class="text">Water Retaining structures, Road structures, Concrete structures, Pipelines..</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box" style = "border: 2px solid #ffaa00; border-radius: 10px;">
						<div class="image">
							<a href="civil.html"><img src="images/resource/service-2.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-layer"></div>
							<div class="lower-layer"></div>
							<h3><a href="civil.html">Mechanical Engineering</a></h3>
							<div class="text">Pump Stations, Steel Structures, Corrosion projects on pipelines..</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box" style = "border: 2px solid #ffaa00; border-radius: 10px;">
						<div class="image">
							<a href="chemical-research.html"><img src="images/resource/service-3.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-layer"></div>
							<div class="lower-layer"></div>
							<h3><a href="chemical-research.html">General Building</a></h3>
							<div class="text">Excavation, Filling and compacting of the Foundations and platforms of buildings.</div>
						</div>
					</div>
				</div>
				
				<div class="services-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box" style = "border: 2px solid #ffaa00; border-radius: 10px;">
						<div class="image">
							<a href="chemical-research.html"><img src="images/resource/service-3.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-layer"></div>
							<div class="lower-layer"></div>
							<h3><a href="chemical-research.html">General Building</a></h3>
							<div class="text">Excavation, Filling and compacting of the Foundations and platforms of buildings.</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row clearfix">
				<!-- Services Block Two -->
				<div class="services-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box" style = "border: 2px solid #ffaa00; border-radius: 10px;">
						<div class="image">
							<img src="images/resource/service-4.jpg" alt="" />
						</div>
						<h3><a href="agricultural-research.html">Energy & Power</a></h3>
						<div class="text">Modern society consumes large amounts of fuel,</div>
					</div>
				</div>
				
				<!-- Services Block Two -->
				<div class="services-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/service-5.jpg" alt="" />
						</div>
						<h3><a href="agricultural-research.html">Agriculture Enginer</a></h3>
						<div class="text">Agriculrure processing is the transformation ...</div>
					</div>
				</div>	
				
				<!-- Services Block Two -->
				<div class="services-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/service-6.jpg" alt="" />
						</div>
						<h3><a href="agricultural-research.html">Civil Enginerring</a></h3>
						<div class="text">Modern society consumes large amounts of fuel, </div>
					</div>
				</div>	
			</div>
		</div>
	</section>
	<!-- End Services Section -->
	
	<!-- Services Section Two -->
	<section class="services-section-two" style = "margin-top:-200px;">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Title Column -->
				
				<!-- Sec Title -->
			<div class="sec-title">
				<div class="title-inner" style = "background: #ffaa00; border-radius: 10px;">
					<div class="title" style = 'color:white'>Services Explained</div>
					<h2>Services Explained</h2>
				</div>
			</div>
				
			<div class="row clearfix">
				<!-- Services Block Three -->
				<div class="services-block-three col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon fa fa-road"></div>
							<h6><a href="chemical-research.html">Civil Engineering</a></h6>
						</div>
						<div class="text"><strong>Water Retaining Structures: </strong>Sewage and water treatment plants Roadworks <br>
						<strong>Road Structures:</strong> Retaining Walls, Bridges, and Barriers.<br>
						<strong>Concrete Structures:</strong> Concrete structures on mines, commercial buildings and other applications.<br>
						<strong>Pipelines:</strong> Bulk transporng in Steel, uPVC, O-PVC, HDPE pipelines and process pipelines on mines and industrial buildings</div>
					</div>
				</div>
				
				<!-- Services Block Three -->
				<div class="services-block-three col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon fa fa-cog"></div>
							<h6><a href="energy-gas.html">Machanical Engineering.</a></h6>
						</div>
						<div class="text"><strong>Pump Stations.</strong><br>
                		<strong>Steel Structures.</strong> <br>
						<strong>Fusion Welding of HDPE Pipelined Arc welding:</strong> Large diameter steel pipelines Corrosion projects of coating and lining on pipelines.</div>
					</div>
				</div>
				
				<!-- Services Block Three -->
				<div class="services-block-three col-lg-6 col-md-12 col-sm-12">
					 	<div class="inner-box">
						<div class="upper-box">
							<div class="icon fa fa-home"></div>
							<h6><a href="energy-power.html">General Building</a></h6>
						</div>
						<div class="text"><strong>General Building Developments</strong><br>
						Industrial, Commercial and Residenal Buildings Low-and middle-income housing developments.</div>
					</div>
				</div>
				
				<!-- Services Block Three -->
				<div class="services-block-three col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon fa fa-area-chart"></div>
							<h6><a href="agriculture.html">Earthworks</a></h6>
						</div>
						<div class="text"><strong>Excavation.</strong><br>
						Filling and compacting of the Foundations and platforms of building Civil Structures Storm water drains, sewage- and large diameter water pipelines</div>
						</div>
				</div>
				
				<!-- Services Block Three -->
				
			</div>	
			</div>
		</div>
	</section>
	<!-- End Services Section Two -->
	
	<!-- Newsletter Section Two -->
	<section class="newsletter-section-two" style="background-image:url(images/background/6.jpg)">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Title Column -->
				<div class="title-column col-lg-7 col-md-12 col-sm-12">
					<!-- Sec Title -->
					<div class="sec-title light">
						<div class="title-inner">
							<div class="title">News Letter</div>
							<h2>Join Our Community</h2>
						</div>
					</div>
					<div class="text">Getting quality Industrial Care with Induzy is easier than ever. <br> Let us treat your loved ones like family!</div>
					
					<!-- Newsletter Form -->
					<div class="newsletter-form">
						<form method="post" action="http://ary-themes.com/html/buliten/contact.html">
							<div class="form-group clearfix">
								<input type="email" name="email" value="" placeholder="Email Address" required>
								<button type="submit" class="theme-btn btn-style-four">Submit Now</button>
							</div>
						</form>
					</div>
					
				</div>
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="images/resource/newsletter.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>
	
	<!--Sponsors Section-->
    <section class="sponsors-section">
    	<div class="auto-container">
		     <div class="sec-title">
				<div class="title-inner">
					<div class="title">Companies & Individuals</div>
					<h2>Our Clients</h2>
				</div>
			</div>
        	
				<div class="sponsors-outer">
					<!--Sponsors Carousel-->
					<ul class="sponsors-carousel owl-carousel owl-theme">
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
					</ul>
            </div>
            
        </div>
    </section>