<section class="team-section section-margin">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
							<a href="team.html"><img src="images/resource/team-4.jpg" alt="" /></a>
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Ronchi Wagase</a></h3>
							<div class="designation">Constration officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
							<a href="team.html"><img src="images/resource/team-1.png" alt="" /></a>
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Monica Wagase</a></h3>
							<div class="designation">Camical officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
							<a href="team.html"><img src="images/resource/team-2.png" alt="" /></a>
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Jordan Weyker</a></h3>
							<div class="designation">Cheif Technical officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
							<a href="team.html"><img src="images/resource/team-3.png" alt="" /></a>
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Gregory Ohayata</a></h3>
							<div class="designation">Marketing Manager</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
							<a href="team.html"><img src="images/resource/team-5.jpg" alt="" /></a>
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Ronchi Wagase</a></h3>
							<div class="designation">Constration officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
							<a href="team.html"><img src="images/resource/team-6.jpg" alt="" /></a>
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Monica Wagase</a></h3>
							<div class="designation">Camical officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
							<a href="team.html"><img src="images/resource/team-7.jpg" alt="" /></a>
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Jordan Weyker</a></h3>
							<div class="designation">Cheif Technical officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
							<a href="team.html"><img src="images/resource/team-8.jpg" alt="" /></a>
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Gregory Ohayata</a></h3>
							<div class="designation">Marketing Manager</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Team Section -->
	
	<!-- Newsletter Section Two -->
	<section class="newsletter-section-two" style="background-image:url(images/background/6.jpg)">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Title Column -->
				<div class="title-column col-lg-7 col-md-12 col-sm-12">
					<!-- Sec Title -->
					<div class="sec-title light">
						<div class="title-inner">
							<div class="title">News Letter</div>
							<h2>Join Our Community</h2>
						</div>
					</div>
					<div class="text">Getting quality Industrial Care with Induzy is easier than ever. <br> Let us treat your loved ones like family!</div>
					
					<!-- Newsletter Form -->
					<div class="newsletter-form">
						<form method="post" action="http://ary-themes.com/html/buliten/contact.html">
							<div class="form-group clearfix">
								<input type="email" name="email" value="" placeholder="Email Address" required>
								<button type="submit" class="theme-btn btn-style-four">Submit Now</button>
							</div>
						</form>
					</div>
					
				</div>
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="images/resource/newsletter.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>