	<section class="welcome-section section-margin" style = "background-image:url(images/background/4.jpg)">
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="images/resource/about.jpg" alt="" style = "border-radius:10px; border: 2px solid #ffaa00;"/>
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title-inner">
								<div class="title">Who we are ?</div>
								<h2>ICON Construction</h2>
							</div>
						</div>
						<div class="text"><p>ICON Construcon is a Construcon Company incorporated on 12 September 2009 under cerﬁcate no. 70 of 2009, specialising in General Civil and Building construcon projects. Our diverse porolio includes not only industrial, residenal, commercial and hospitality, but instuonal, energy, transportaon and governmental projects as well. No maer how challenging a project is, or how remote its locaon, rest assured that ICON Construcon can handle it.</p>
						<p>Employing an unmatched combinaon of knowledge, skill, experience, integrity and commitment to the needs of the customer, our services have helped grow local economies and improve the quality of life in numerous communies.  Quality, safety and a focus on construcng sustainable Civil and building projects are the keystones of our corporate culture. We do it right the ﬁrst me.</p></div>
						
						
						<!-- Counter Box -->
						<div class="counter-box">
							
							<div class="fact-counter">
								<div class="row clearfix">
									<!--Column-->
									<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
											<div class="count-outer count-box">
												<h4 class="counter-title">Projects</h4>
												<span class="count-text" data-speed="3000" data-stop="1200">0</span>+
											</div>
										</div>
									</div>
							
									<!--Column-->
									<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
											<div class="count-outer count-box">
												<h4 class="counter-title">Happy Clients</h4>
												<span class="count-text" data-speed="2500" data-stop="800">0</span>+
											</div>
										</div>
									</div>
							
									<!--Column-->
									<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
											<div class="count-outer count-box">
												<h4 class="counter-title">Satisfaction</h4>
												<span class="count-text" data-speed="2000" data-stop="99">0</span>+
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Welcome Section -->
	
	<!-- Choice Section -->
	<section class="choice-section">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="images/resource/choose.jpg" alt="" style = "border-radius:10px; border: 2px solid #ffaa00;"/>
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title-inner">
								<div class="title">Vision & Mission</div>
								<h2>ICON's Objectives</h2>
							</div>
						</div>
						<div class="text">
							 <p><strong>Vision: </strong>To be the highest value provider of global construction services and technical expertise</p>
							 <p><strong>Mission: </strong>To Provide superior construcon service to clients.</p>
						</div>
						<div class="row clearfix">
							<div class="column col-md-6 col-sm-6 col-xs-12">
								<ul class="list-style-two">
									<li><span class="icon flaticon-microscope-1"></span>Advanced Technology</li>
									<li><span class="icon flaticon-labor-man"></span>Certified Engineers</li>
								</ul>
							</div>
							<div class="column col-md-6 col-sm-6 col-xs-12">
								<ul class="list-style-two">
									<li><span class="icon flaticon-clock-2"></span>Delivery Ontime</li>
									<li><span class="icon flaticon-megaphone"></span>Best Branding</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Choice Section -->
	
	<!-- Services Section Three -->
	
	<!-- End Services Section Two -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title-inner">
					<div class="title">Testimonials</div>
					<h2>What Clients Are Saying</h2>
				</div>
			</div>
			
			 <div class="single-item-carousel owl-carousel owl-theme">
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/author-2.png" alt="" />
							<span class="quote-icon flaticon-left-quote"></span>
						</div>
						<h3>Sibusiso Ngcamphalala</h3>
						<div class="text">I have recommended ICON to another company who has viewed the work they have done for us. I would not hesitate to recommend them in the future, we are very pleased with the work and the state the site was left in on completion.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/author-2.png" alt="" />
							<span class="quote-icon flaticon-left-quote"></span>
						</div>
						<h3>Celiwe Dlamini</h3>
						<div class="text">Thank you for an excellent job - quick and efficient throughout the whole process. Keep up the high standard.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/author-2.png" alt="" />
							<span class="quote-icon flaticon-left-quote"></span>
						</div>
						<h3>Sibusiso Ndzinisa</h3>
						<div class="text">May I personally thank you and your team for the recent works completed in Nhlangano. What started out to be a relatively straight forward project soon became problematic with its daily challenges! However regular contact and communications with project manager Alan ensured that the job was not only completed to plan but ahead of schedule as well!</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	<!--
    <section class="sponsors-section">
    	<div class="auto-container">
        	
            <div class="sponsors-outer">
         
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>
    -->
	
	<!--Newsleter Section-->
    <section class="newsletter-section" style="background-image:url(images/background/13.jpg)">
    	<div class="auto-container">
        	<div class="inner-container">
            	<div class="row clearfix">
                	
                    <!--Title Column-->
                    <div class="title-column col-lg-5 col-md-12 col-sm-12">
                    	<div class="inner-column">
                        	<div class="icon-box">
                            	<span class="icon flaticon-mail"></span>
                            </div>
                            <h4>Newsletter Subscription</h4>
                            <div class="title">Get latest news & updates</div>
                        </div>
                    </div>
                    
                    <!--Form Column-->
                    <div class="form-column col-lg-7 col-md-12 col-sm-12">
                    	<div class="inner-column">
                        	
                            <!--Subscribe Form-->
                            <div class="subscribe-form">
							    {{#if NewletterEmailSuccess}} 
						             <div class = "alert alert-success" alert-dismissable style = "border-radius:10px;>
							             <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
							             <i class = "lnr lnr-checkmark-circle"></i>  Email address was successfully sent.</p>
						             </div>	
			                    {{/if}}
			   
				               {{#if NewletterEmailError}} 
						             <div class = "alert alert-danger" alert-dismissable style = "border-radius:10px;>
							             <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
							             <i class = "lnr lnr-cross-circle"></i>  Could not send email.</p>
						             </div>	
				               {{/if}}
									<form method="post" action="/email">
										<div class="form-group">
											<input type="email" name="email" value="" placeholder="Email Address" required>
											<button type="submit" class="theme-btn btn-style-three">Submit Now</button>
										</div>
									</form>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--End Newsleter Section-->
	
	<!--Main Footer-->
