	  <div class="sidebar-page-container section-margin">
    	<div class="auto-container">
	 <div class="sec-title">
		<div class="title-inner">
			<div class="title">Detailed Services</div>
			<h2>Our Services</h2>
		</div>
     </div>
							
	</div>
	</div>
    <div class="sidebar-page-container" style = "margin-top:-180px;">
    	<div class="auto-container">
        	<div class="row clearfix">
				
               	<!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                	<aside class="sidebar">
					
						<div class="sidebar-inner">
								<!--Blog Category Widget-->
								<div class="sidebar-widget sidebar-blog-category">
									<ul class="blog-cat">
										<li><a href="/services">Civil Engineering</a></li>
										<li><a href="/mech-eng">Mechanical Engineering</a></li>
										<li><a href="/gen-building">General Building</a></li>
										<li class = "active"><a href="/earthworks">Earthworks</a></li>
									</ul>	
								</div>
							
							<!--Brochure Widget-->
							<div class="sidebar-widget brochure-widget">
								<div class="widget-content">
									
									<!-- Sidebar Title -->
									<div class="sidebar-title">
										<div class="title-inner">
											<div class="title">View Certificates</div>
											<h2>ICON Certifications</h2>
										</div>
									</div>
									
									 <ul class="brouchers">
										<li><a href="/building-constractors"><span class="icon fa fa-file-pdf-o"></span> Building Contractors</a></li>
										<li><a href="/certificate-of-membership"><span class="icon fa fa-file-pdf-o"></span> Certificate Of Membership</a></li>
										<li><a href="/civil-work-contractors"><span class="icon fa fa-file-pdf-o"></span>Work Completion Certificate</a></li>
										<li><a href="/building-specialist-contractor"><span class="icon fa fa-file-pdf-o"></span>Building Specialist Contractor</a></li>
									</ul>
								</div>
							</div>
							<!--End Brochure Widget-->
							
							<!-- Business Widget -->
							<div class="sidebar-widget business-widget">
								<div class="widget-content" style="background-image:url(images/resource/business.jpg);">
									<div class="title">Get Your</div>
									<h3>ICON Construction<span>Services now</span></h3>
									<div class="text">Have an idea or a dream? We Can All Make It Happen For You.</div>
									<div class="clearfix">
										<div class="pull-left">
											<a href="/contact" class="theme-btn btn-style-four">Contact Us</a>
										</div>
										<div class="pull-right">
											<div class="number">+268 2505 6777</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</aside>
				</div>
				
				<!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                	<div class="service-single">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/earthworks.jpg" alt="" style = "border: 2px solid #ffaa00; border-radius: 10px;"/>
							</div>
							<div class="lower-content">
								<h2>Earthworks</h2>
								<div class="text">
									<p>Our earthworks operations include the excavation, transport, placement and compaction of fill materials to construct earth structures in all civil engineering projects. A good understanding of earthworks design and construction enables the delivery of successful projects and avoidance of costly problems.
									We have excavated illing and compacted foundations and platforms of buildings, civil structures, storm water drains, sewage- and large diameter water pipelines
									</div>
							</div>
						</div>
					</div>	
				</div>
				
			</div>
		</div>
	</div>