<!--Main Slider-->
    <section class="main-slider">
        <div class="main-slider-carousel owl-carousel owl-theme">
            
            <div class="slide" style="background-image:url(images/main-slider/catt.jpg); border: 1px solid #ffaa00; border-radius: 10px; border-radius: 10px;">
                <div class="auto-container">
                	<div class="content clearfix">
						<div class="title">Construction Company</div>
						<h2>ICON Construction</h2>
						<div class="text">Our main objective is striving to be the best provider of <br> superior construction services to our clients..</div>
						                   
										  
                    	<div class="link-box">
							<a href="/services" class="theme-btn btn-style-one">Our Service</a> <a href="/contact" class="theme-btn btn-style-three">Contact Us</a>
						</div>
                    </div>
                </div>
            </div>
            
   
            <div class="slide" style="background-image:url(images/main-slider/road.jpg); border: 2px solid #ffaa00; border-radius: 10px;">
                <div class="auto-container">
                	<div class="content clearfix">
						<div class="title">Making dreams come true</div>
						<h2>Building & Construction</h2>
						<div class="text"> Our construction experiece has made it possible for us to <br> Build small houses, and big contruction projectys.</div>
						 
                    	<div class="link-box">
							<a href="/projects" class="theme-btn btn-style-one">Our Projects</a> <a href="/contact" class="theme-btn btn-style-three">Contact Us</a>
						</div>
                    </div>
                </div>
            </div>
			
			 <div class="slide" style="background-image:url(images/main-slider/bridge.jpg); border: 2px solid #ffaa00; border-radius: 10px;">
                <div class="auto-container">
                	<div class="content clearfix">
						<div class="title">Who we  are ?</div>
						<h2>Nation-wide strength</h2>
						<div class="text"> Helping create the infrastructure that improves the Kindoms's <br> towns, cities and communities.</div>
						 
                    	<div class="link-box">
							<a href="/projects" class="theme-btn btn-style-one">Our Projects</a> <a href="/contact" class="theme-btn btn-style-three">Contact Us</a>
						</div>
                    </div>
                </div>
            </div>
        </div>
		<!-- Left Title -->
		<div class="left-title">ICON CONSTRUCTION PTY LTD</div>
		
		<div class="auto-container">
			<!-- Social Box -->
			<div class="social-box">
				<a href="#"><span class="fa fa-facebook"></span></a>
				<a href="#"><span class="fa fa-twitter"></span></a>
				<a href="#"><span class="fa fa-skype"></span></a>
				<a href="#"><span class="fa fa-google-plus"></span></a>
			</div>
		</div>
		<!--Scroll Dwwn Btn-->
        <div class="mouse-btn-down scroll-to-target" data-target=".welcome-section"></div>
    </section>
    <!--End Main Slider-->
	
	<!-- Welcome Section -->
	
	<!-- End Welcome Section -->
	
	<!-- Services Section -->
	<section class="services-section welcome-section " style = "background-image:url(images/background/4.jpg); margin-top:-50px;">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="inner-column">
			<div class="sec-title">
				<div class="title-inner">
					<div class="title">What we do</div>
					<h2>Construction Services</h2>
				</div>
			</div>
			</div>
			
			<div class="row clearfix">
				<!-- Services Block -->
				<div class="services-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box" style = "border: 2px solid #ffaa00; border-radius: 10px;">
						<div class="image">
							<a href="/services"><img src="images/resource/civil.png" alt=""  /></a>
						</div>
						<div class="lower-content">
							<div class="upper-layer"></div>
							<div class="lower-layer"></div>
							<h3><a href="/services">Civil Engineering</a></h3>
							<div class="text">Water Retaining structures, Road structures, Concrete structures, Pipelines..</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box" style = "border: 2px solid #ffaa00; border-radius: 10px;">
						<div class="image">
							<a href="/mech-eng"><img src="images/resource/mech.png" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-layer"></div>
							<div class="lower-layer"></div>
							<h3><a href="mech-eng">Mech. Engineering</a></h3>
							<div class="text">Pump Stations, Steel Structures, Corrosion projects on pipelines..</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box" style = "border: 2px solid #ffaa00; border-radius: 10px;">
						<div class="image">
							<a href="/gen-building"><img src="images/resource/building.png" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-layer"></div>
							<div class="lower-layer"></div>
							<h3><a href="gen-building">General Building</a></h3>
							<div class="text">Excavation, Filling and compacting of the Foundations and platforms of buildings.</div>
						</div>
					</div>
				</div>
				
				<div class="services-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box" style = "border: 2px solid #ffaa00; border-radius: 10px;">
						<div class="image">
							<a href="/earthworks"><img src="images/resource/image01.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-layer"></div>
							<div class="lower-layer"></div>
							<h3><a href="/earthworks">Earthworks</a></h3>
							<div class="text">Excavation, Filling and compacting of the Foundations and platforms of buildings.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section -->
		<!-- work in progress -->
	<section class="services-section welcome-section " style = "background-image:url(images/background/4.jpg); margin-top:-50px;">
		<div class="auto-container">
			<!-- Sec Title -->
			
			<div class="sec-title">
				<div class="title-inner" >
					<div class="title">Construction Of Dubai Mall</div>
					<h2>Work in progress</h2>
				</div>
			</div>
			
		    <div style = "text-align: center; ">
				 <video style = "text-align:center; border: 2px solid #ffaa00; border-radius: 10px;" width="100%" height="auto" controls autoplay>
					 <source src="images/action.mp4" type="video/mp4">
				 </video>
	        </div>
		</div>
	</section>

	

	
	
	


	<section class="call-to-action-section" style="background-image:url(images/background/1.jpg);">
		<div class="auto-container">
			<h2>We Make <span class="theme_color">Dreams</span> Come  True<br> For Our Clients</h2>
			<div class="text">The skills and competency level of ICON Construction personnel <br> meets global standards of excellence.</div>
			                   
			<a href="/about" class="theme-btn btn-style-four">Learn More</a>
		</div>
	</section>
	<!-- End Call To Action Section -->
	
	<!-- Project Section -->
	<section class="project-section" style = "margin-top: -50px; background-image:url(images/background/4.jpg)">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title-inner">
					<div class="title">Our Work</div>
					<h2>Our Projects</h2>
				</div>
			</div>
			
			<div class="four-item-carousel owl-carousel owl-theme">
				<!-- Project Block -->
				<div class="project-block">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/foot_bridge.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="icons">
									<a class="plus" href="images/resource/foot_bridge2.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
							
								</div>
								<div class="overlay-inner">
									<div class="overlay-content">
										<h3>Foot bridge</h3>
										<div class="category">Mbabane</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
				
				<!-- Project Block -->
				<div class="project-block">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/road.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="icons">
									<a class="plus" href="images/resource/road2.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
								
								</div>
								<div class="overlay-inner">
									<div class="overlay-content">
										<h3>Road Construction</h3>
										<div class="category">Mhlangeni Community</div>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
				
				<!-- Project Block -->
				<div class="project-block">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/motor_bridge.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="icons">
									<a class="plus" href="images/resource/motor_bridge2.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
									
								</div>
								<div class="overlay-inner">
									<div class="overlay-content">
										<h3>Bridge Construction</h3>
										<div class="category">Lozitha</div>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
				<!-- Project Block -->
				
						<!-- Project Block -->
				<div class="project-block">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/church2.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="icons">
									<a class="plus" href="images/resource/church.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
									
								</div>
								<div class="overlay-inner">
									<div class="overlay-content">
										<h3>Church Construction</h3>
										<div class="category">Fair View North</div>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
				<!-- Project Block -->
			</div>
		</div>
	</section>
	<!-- End Project Section -->
	
	<!--Call To Action Section Two-->

    <!-- End Call To Action Section Two -->
	
	<!-- Team Section -->
	<section class="team-section" style = "margin-top: -50px; background-image:url(images/background/4.jpg)">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Title Column -->
				<div class="title-column col-lg-3 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title-inner">
								<div class="title">Our team</div>
								<h2>Expert Members</h2>
							</div>
						</div>
						<div class="text">The skills and competency level of ICON Construcon personnel meets global standards of excellence.</div>
					</div>                
				</div>
				
				<!-- Carousel Column -->
				<div class="carousel-column col-lg-9 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="team-carousel owl-carousel owl-theme">
							
							<!--Team Block-->
							<div class="team-block">
								<div class="inner-box">
									<div class="border-one"></div>
									<div class="border-two"></div>
									<div class="image">
										<a href=""><img src="images/resource/author-2.png" alt="" /></a>
										<ul class="social-icons">
											<li><a href="#"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#"><span class="fa fa-twitter"></span></a></li>
											<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
											<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
										</ul>
									</div>
									<div class="lower-box">
										<h3><a href="team.html">Marco De'sousa</a></h3>
										<div class="designation">Director</div>
									</div>
								</div>
							</div>
							
							<!--Team Block-->
							<div class="team-block">
								<div class="inner-box">
									<div class="border-one"></div>
									<div class="border-two"></div>
									<div class="image">
										<a href="#"><img src="images/resource/author-2.png" alt="" /></a>
										<ul class="social-icons">
											<li><a href="#"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#"><span class="fa fa-twitter"></span></a></li>
											<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
											<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
										</ul>
									</div>
									<div class="lower-box">
										<h3><a href="team.html">Nkosinathi Mkhwanazi</a></h3>
										<div class="designation">Site Manager</div>
									</div>
								</div>
							</div>
							
							<!--Team Block-->
							<div class="team-block">
								<div class="inner-box">
									<div class="border-one"></div>
									<div class="border-two"></div>
									<div class="image">
										<a href="#"><img src="images/resource/author-2.png" alt="" /></a>
										<ul class="social-icons">
											<li><a href="#"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#"><span class="fa fa-twitter"></span></a></li>
											<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
											<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
										</ul>
									</div>
									<div class="lower-box">
										<h3><a href="team.html">Marco De'sousa</a></h3>
										<div class="designation">Director</div>
									</div>
								</div>
							</div>
							
							<!--Team Block-->
							<div class="team-block">
								<div class="inner-box">
									<div class="border-one"></div>
									<div class="border-two"></div>
									<div class="image">
										<a href="#"><img src="images/resource/author-2.png" alt="" /></a>
										<ul class="social-icons">
											<li><a href="#"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#"><span class="fa fa-twitter"></span></a></li>
											<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
											<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
										</ul>
									</div>
									<div class="lower-box">
										<h3><a href="team.html">Nkosinathi Mkhwanazi</a></h3>
										<div class="designation">Site Manager</div>
									</div>
								</div>
							</div>
							
							<!--Team Block-->
							<div class="team-block">
								<div class="inner-box">
									<div class="border-one"></div>
									<div class="border-two"></div>
									<div class="image">
										<a href=""><img src="images/resource/author-2.png" alt="" /></a>
										<ul class="social-icons">
											<li><a href="#"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#"><span class="fa fa-twitter"></span></a></li>
											<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
											<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
										</ul>
									</div>
									<div class="lower-box">
										<h3><a href="team.html">Marco De'sousa</a></h3>
										<div class="designation">Director</div>
									</div>
								</div>
							</div>
							
							<!--Team Block-->
							<div class="team-block">
								<div class="inner-box">
									<div class="border-one"></div>
									<div class="border-two"></div>
									<div class="image">
										<a href="#"><img src="images/resource/author-2.png" alt="" /></a>
										<ul class="social-icons">
											<li><a href="#"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#"><span class="fa fa-twitter"></span></a></li>
											<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
											<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
										</ul>
									</div>
									<div class="lower-box">
										<h3><a href="team.html">Nkosinathi Mkhwanazi</a></h3>
										<div class="designation">Site Manager</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Team Section -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section" style = "margin-top: -50px; background-image:url(images/background/4.jpg)">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title-inner">
					<div class="title">Testimonials</div>
					<h2>What Clients Are Saying</h2>
				</div>
			</div>
			
			<div class="single-item-carousel owl-carousel owl-theme">
				<!-- Testimonial Block --> 
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image">
							<img src="" alt="" />
							<span class="quote-icon flaticon-left-quote"></span>
						</div>
						<h3>Sibusiso Ngcamphalala</h3>
						<div class="text">I have recommended ICON to another company who has viewed the work they have done for us. I would not hesitate to recommend them in the future, we are very pleased with the work and the state the site was left in on completion.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/author-2.png" alt="" />
							<span class="quote-icon flaticon-left-quote"></span>
						</div>
						<h3>Celiwe Dlamini</h3>
						<div class="text">Thank you for an excellent job - quick and efficient throughout the whole process. Keep up the high standard.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image">
							<img src="" alt="" />
							<span class="quote-icon flaticon-left-quote"></span>
						</div>
						<h3>Sibusiso Ndzinisa</h3>
						<div class="text">May I personally thank you and your team for the recent works completed in Nhlangano. What started out to be a relatively straight forward project soon became problematic with its daily challenges! However regular contact and communications with project manager Alan ensured that the job was not only completed to plan but ahead of schedule as well!</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	<!-- Default Section -->
	<section class="default-section" style = "margin-top: -50px; background-image:url(images/background/4.jpg)">
		<div class="outer-container">
			<div class="clearfix">
				
				<!-- News Column -->
				<div class="news-column">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title-inner">
								<div class="title">Learn about us</div>
								<h2>Icon Construction</h2>
							</div>
						</div>
						
						<!-- News Block -->
						<div class="news-block">
							<div class="inner-box">
								<div class="row clearfix">
									<!-- Image Column -->
									<div class="image-column col-lg-6 col-md-6 col-sm-12">
										<div class="column-inner">
											<div class="image">
												<img src="images/resource/cat.jpg" alt="" />
												<div class="image-layer" style="background-image:url(images/resource/cat-2.jpg)"><a class="overlay-link" href="blog-single.html"></a></div>
											</div>
										</div>
									</div>
									<!-- Content Column -->
									<div class="content-column col-lg-6 col-md-6 col-sm-12">
										<div class="column-inner">
											<h3><a href="/about">Who we are and what we do in Eswatini </a></h3>
											<div class="text">Icon construction is a Swazi based, national construction services company and is a leading builder in diverse market segments.</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
						
						<!-- News Block -->
						<div class="news-block">
							<div class="inner-box">
								<div class="row clearfix">
									<!-- Image Column -->
									<div class="image-column col-lg-6 col-md-6 col-sm-12">
										<div class="column-inner">
											<div class="image">
												<img src="images/resource/cat-3.jpg" alt="" />
												<div class="image-layer" style="background-image:url(images/resource/cat-4.jpg)"><a class="overlay-link" href="blog-single.html"></a></div>
											</div>
										</div>
									</div>
									<!-- Content Column -->
									<div class="content-column col-lg-6 col-md-6 col-sm-12">
										<div class="column-inner">
											
											<h3><a href="#">Our commitment in the construction industry</a></h3>
											<div class="text">We are proactive in finding solutions for our clients that best achieve their goals. We understand that lasting relationships are the lifeblood of our business.</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				<!-- Form Column -->
				<div class="form-column" style="background-image:url(images/background/2.jpg)" id = "quoteform">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title light">
							<div class="title-inner"> 
								<div class="title">Information Details</div>
								<h2>Request a Quote</h2>
							</div>
						</div>
						
						<!-- Quote Form -->
						<div class="quote-form">
						    {{#if quoteSuccess}} 
								 <div class = "alert alert-success" alert-dismissable style = "border-radius:10px;>
								 <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
								 <i class = "lnr lnr-checkmark-circle"></i>  Request was successfully sent.</p>
								 </div>	
			                {{/if}}
			   
				            {{#if quoteError}} 
								 <div class = "alert alert-danger" alert-dismissable style = "border-radius:10px;>
								 <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
								 <i class = "lnr lnr-cross-circle"></i>  Could not send request.</p>
								 </div>	
				            {{/if}}
							<!--Contact Form-->
							<form method="post" action="/email">
								<div class="row clearfix">
								
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<input type="text" name="username" placeholder="Your Name" required>
									</div>
									
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<input type="text" name="email" placeholder="Email" required>
									</div>
									
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<input type="text" name="phone" placeholder="Phone" required>
									</div>
									
									<!--Form Group-->
									<div class="form-group col-lg-6 col-md-6 col-sm-12">
										<select class="custom-select-box" name = "service">
											<option>Service Required</option>
											<option>Civil engineering</option>
											<option>General building</option>
											<option>Machanical engineering</option>
											<option>Earthworks</option>
										</select>
									</div>
									
									<div class="form-group col-lg-12 col-md-12 col-sm-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									
									<div class="form-group col-lg-12 col-md-12 col-sm-12">
										<button class="theme-btn btn-style-two" type="submit" name="submit-form">Get A Quote</button>
									</div>
									
								</div>
							</form>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Default Section -->
	
	<!--
    <section class="sponsors-section" style = "margin-top: -50px; background-image:url(images/background/4.jpg)">
    	<div class="auto-container">
		    	<div class="sec-title">
					<div class="title-inner">
						<div class="title">Various Companies</div>
							<h2>Our Partners</h2>
					</div>
				</div>
				<div class="sponsors-outer">
				
					<ul class="sponsors-carousel owl-carousel owl-theme">
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
					</ul>
				</div>
        </div>
    </section>
   -->