<section class="projects-page-section">
		<div class="auto-container">
	         <div class="sec-title">
		         <div class="title-inner">
			         <div class="title">Our Work</div>
			         <h2>ICON Projects</h2>
		         </div>
             </div>
			<!--MixitUp Galery-->
            <div class="mixitup-gallery">
                
                <!--Filter-->
                <div class="filters text-center clearfix">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="active filter" data-role="button" data-filter="all">All Cases</li>
                        <li class="filter" data-role="button" data-filter=".civil">Civil Eng.</li>
                        <li class="filter" data-role="button" data-filter=".mechanical">Mechanic. Eng.</li>
                        <li class="filter" data-role="button" data-filter=".chemical">General Bldng.</li>
                        <li class="filter" data-role="button" data-filter=".industry">Eathworks</li>
                    </ul>
                </div>
                
                <div class="filter-list row clearfix">
					<!-- Project Block -->
					<div class="project-block mix civil industry col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/foot_bridge.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/foot_bridge2.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3>Concrete Side Drains</h3>
											<div class="category">MR3 Highway</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix civil col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/motor_bridge.jpg" alt=""  style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/motor_bridge2.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3>Foot Bridge</h3>
											<div class="category">Mhlangeni Community</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block civil col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/road.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/road2.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3>Bridge Construction</h3>
											<div class="category">Lozitha</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix mechanical col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/summer.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/summer1.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3>Steel ﬁxing</h3>
											<div class="category">Lozitha</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix mechanical col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/summer.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/summer1.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3>Concrete drainage pipes and kerb laying</h3>
											<div class="category">Siteki</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix mechanical architecutre col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/summer.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/summer1.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
									
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3>Siteki town Hall</h3>
											<div class="category">Siteki</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix mechanical col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/summer.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/summer1.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-plus-symbol"></span></a>
										
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3>Concrete Side Drains, Block paving walkways</h3>
											<div class="category">MR3 Highway</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					<div class="project-block mix chemical architecutre col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="images/resource/summer.jpg" alt="" style = "border-radius: 10px; border: 2px solid #ffaa00"/>
								<!-- Overlay Box -->
								<div class="overlay-box">
									<div class="icons">
										<a class="plus" href="images/resource/summer1.jpg" data-fancybox="gallery-1" data-caption="" ><span class="flaticon-plus-symbol" ></span></a>
										
									</div>
									<div class="overlay-inner">
										<div class="overlay-content">
											<h3>Concrete Walk Ways</h3>
											<div class="category">MR3 Highway</div>
										</div>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
					
					<!-- Project Block -->
					
					<!-- Project Block -->
					
					
					<!-- Project Block -->
					
					
					<!-- Project Block -->
				</div>
				
			</div>
			
			<div class="btn-box text-center">
				<a href="#" class="theme-btn btn-style-two">More Project</a>
			</div>
			
		</div>
		
	</section>
	<!-- End Projects Page Section -->
	
	<!-- Newsletter Section Two -->
	<section class="newsletter-section-two" style="background-image:url(images/background/6.jpg); margin-bottom:0px">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Title Column -->
				<div class="title-column col-lg-7 col-md-12 col-sm-12">
					<!-- Sec Title -->
					<div class="sec-title light">
						<div class="title-inner">
							<div class="title">Don’t miss out on anything!</div>
							<h2>Subscribe to our newsletter</h2>
						</div>
					</div>
					
					<div class="text"> Get the latest news about ICON construction company.<br> Learn more about current projects.</div>
					            

					<!-- Newsletter Form -->
					<div class="newsletter-form">
					    {{#if ProjectEmailSuccess}} 
						 <div class = "alert alert-success" alert-dismissable style = "border-radius:10px;>
							 <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
							 <i class = "lnr lnr-checkmark-circle"></i>  Email address was successfully sent.</p>
						 </div>	
			            {{/if}}
			   
				        {{#if ProjectEmailError}} 
						 <div class = "alert alert-danger" alert-dismissable style = "border-radius:10px;>
							 <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
							 <i class = "lnr lnr-cross-circle"></i>  Could not send email.</p>
						 </div>	
				        {{/if}}
						<form method="post" action="/email">
							<div class="form-group clearfix">
								<input type="email" name="email" value="" placeholder="Email Address" required>
								<button type="submit" class="theme-btn btn-style-four">Submit Now</button>
							</div>
						</form>
					</div>
					
				</div>
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="images/resource/newsletter.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>
	
	<!--
    <section class="sponsors-section">
    	<div class="auto-container">
        	
            <div class="sponsors-outer">
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>
-->