<section class="team-section section-margin">
		<div class="auto-container">
		
		<div class="sec-title">
							<div class="title-inner"  style = "border-radius: 10px;">
								<div class="title">ICON Staff</div>
								<h2>Our Team</h2>
							</div>
						</div>
			<div class="row clearfix">
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
						<img src="images/resource/author-2.png" alt="" />
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Ronchi Wagase</a></h3>
							<div class="designation">Constration officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
						<img src="images/resource/author-2.png" alt="" />
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Monica Wagase</a></h3>
							<div class="designation">Camical officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
						<img src="images/resource/author-2.png" alt="" />
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Jordan Weyker</a></h3>
							<div class="designation">Cheif Technical officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
						<img src="images/resource/author-2.png" alt="" />
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Gregory Ohayata</a></h3>
							<div class="designation">Marketing Manager</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
						<img src="images/resource/author-2.png" alt="" />
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Ronchi Wagase</a></h3>
							<div class="designation">Constration officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
						<img src="images/resource/author-2.png" alt="" />
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Monica Wagase</a></h3>
							<div class="designation">Camical officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
						<img src="images/resource/author-2.png" alt="" />
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Jordan Weyker</a></h3>
							<div class="designation">Cheif Technical officer</div>
						</div>
					</div>
				</div>
				
				<!--Team Block-->
				<div class="team-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="border-one"></div>
						<div class="border-two"></div>
						<div class="image">
						<img src="images/resource/author-2.png" alt="" />
							<ul class="social-icons">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
						</div>
						<div class="lower-box">
							<h3><a href="team.html">Gregory Ohayata</a></h3>
							<div class="designation">Marketing Manager</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Team Section -->
	
	<!-- Newsletter Section Two -->
	<section class="newsletter-section-two" style="background-image:url(images/background/6.jpg); margin-bottom:0px">

		<div class="auto-container">
			<div class="row clearfix">
				<!-- Title Column -->
				<div class="title-column col-lg-7 col-md-12 col-sm-12">
					<!-- Sec Title -->
					<div class="sec-title light">
						<div class="title-inner">
							<div class="title">Don’t miss out on anything!</div>
							<h2>Subscribe to our newsletter</h2>
						</div>
					</div>
					<div class="text"> Get the latest news about ICON construction company.<br> Learn more about current projects.</div>
					
					<!-- Newsletter Form -->
					<div class="newsletter-form">
					     	{{#if TeamEmailSuccess}} 
							 <div class = "alert alert-success" alert-dismissable style = "border-radius:10px;>
								 <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
								 <i class = "lnr lnr-checkmark-circle"></i>  Email address was successfully sent.</p>
							 </div>	
							{{/if}}
			   
				             {{#if TeamEmailError}} 
						    <div class = "alert alert-danger" alert-dismissable style = "border-radius:10px;>
							 <p class= "pull-right"><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
							 <i class = "lnr lnr-cross-circle"></i>  Could not send email.</p>
						    </div>	
				            {{/if}}
							<form method="post" action="/email">
								<div class="form-group clearfix">
									<input type="email" name="email" value="" placeholder="Email Address" required>
									<button type="submit" class="theme-btn btn-style-four">Submit Now</button>
								</div>
							</form>
					</div>
					
				</div>
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="images/resource/newsletter.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>
	
	<!--
    <section class="sponsors-section">
    	<div class="auto-container">
		     <div class="sec-title">
							<div class="title-inner"  style = "border-radius: 10px;">
								<div class="title">Get in Touch</div>
								<h2>Contact Us</h2>
							</div>
						</div>
        	
				<div class="sponsors-outer">
		
					<ul class="sponsors-carousel owl-carousel owl-theme">
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
					</ul>
				</div>
            
        </div>
    </section>
 -->