	<section class="testimonial-page-section section-margin">
		<div class="auto-container">
		<div class="sec-title">
				<div class="title-inner"  style = "border-radius: 10px;">
					<div class="title">What Clients Are Saying</div>
					<h2>Testimonials</h2>
				</div>
			</div>
			<div class="row clearfix">
				
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="quote-icon flaticon-quote-1"></div>
						<div class="text">Manufacturing industry became a key sector of production and North American countries during the Industrial Revolution, upsetting previous mercantile.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="images/resource/author-2.jpg" alt="" />
								</div>
								<h6>Farnandoz Biki</h6>
								<div class="designation">Ceo</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="quote-icon flaticon-quote-1"></div>
						<div class="text">Manufacturing industry became a key sector of production and North American countries during the Industrial Revolution, upsetting previous mercantile.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="images/resource/author-3.jpg" alt="" />
								</div>
								<h6>Monica Mora</h6>
								<div class="designation">Marketing Director</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="quote-icon flaticon-quote-1"></div>
						<div class="text">Manufacturing industry became a key sector of production and North American countries during the Industrial Revolution, upsetting previous mercantile.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="images/resource/author-4.jpg" alt="" />
								</div>
								<h6>Monal Maly</h6>
								<div class="designation">Seo Officer</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="quote-icon flaticon-quote-1"></div>
						<div class="text">Manufacturing industry became a key sector of production and North American countries during the Industrial Revolution, upsetting previous mercantile.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="images/resource/author-2.jpg" alt="" />
								</div>
								<h6>Farnandoz Biki</h6>
								<div class="designation">Ceo</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="quote-icon flaticon-quote-1"></div>
						<div class="text">Manufacturing industry became a key sector of production and North American countries during the Industrial Revolution, upsetting previous mercantile.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="images/resource/author-3.jpg" alt="" />
								</div>
								<h6>Monica Mora</h6>
								<div class="designation">Marketing Director</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="quote-icon flaticon-quote-1"></div>
						<div class="text">Manufacturing industry became a key sector of production and North American countries during the Industrial Revolution, upsetting previous mercantile.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="images/resource/author-4.jpg" alt="" />
								</div>
								<h6>Monal Maly</h6>
								<div class="designation">Seo Officer</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="quote-icon flaticon-quote-1"></div>
						<div class="text">Manufacturing industry became a key sector of production and North American countries during the Industrial Revolution, upsetting previous mercantile.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="images/resource/author-2.jpg" alt="" />
								</div>
								<h6>Farnandoz Biki</h6>
								<div class="designation">Ceo</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="quote-icon flaticon-quote-1"></div>
						<div class="text">Manufacturing industry became a key sector of production and North American countries during the Industrial Revolution, upsetting previous mercantile.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="images/resource/author-3.jpg" alt="" />
								</div>
								<h6>Monica Mora</h6>
								<div class="designation">Marketing Director</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="quote-icon flaticon-quote-1"></div>
						<div class="text">Manufacturing industry became a key sector of production and North American countries during the Industrial Revolution, upsetting previous mercantile.</div>
						<div class="author-info">
							<div class="info-inner">
								<div class="author-image">
									<img src="images/resource/author-4.jpg" alt="" />
								</div>
								<h6>Monal Maly</h6>
								<div class="designation">Seo Officer</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Page Section -->
	
	<!--Sponsors Section-->
    <section class="sponsors-section">
    	<div class="auto-container">
        	
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>