  <footer class="main-footer" style="background-image:url(images/background/10.jpg)">
    
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--Footer Column-->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget logo-widget">
							<div class="logo">
								<a href="index-2.html"><!--<img src="images/footer-logo.png" alt="" />--></a>
							</div>
							<div class="text">ICON Construcon is a Construcon Company incorporated on 12 September 2009 under cerﬁcate no. 70 of 2009, specialising in General Civil and Building construcon projects.. <a href="/about">Read More.</a></div>
							<ul class="list-style-one">
								<li><span class="icon flaticon-map-1"></span>Mancishane Street M200 Manzini, Eswatini.</li>
								<li><span class="icon flaticon-mail"></span>ICON Construction: +268 2505 6777 </li>
							</ul>
						</div>
					</div>
					
					<!--Footer Column-->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget links-widget">
							<h2>Usefull Links</h2>
							<div class="row clearfix">
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="list">
										<li><a href="about.html">About Us</a></li>
										<li><a href="team.html">Meet Our Team</a></li>
										<li><a href="contact.html">Get a Quote</a></li>
										<li><a href="testimonials.html">Testimonials</a></li>
										<li><a href="contact.html">Contact Us</a></li>
									</ul>
								</div>
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="list">
										<li><a href="faq.html">FAQ</a></li>
										<li><a href="projects.html">Projects</a></li>
										<li><a href="#">Servives</a></li>
										<li><a href="#">Careers</a></li>
										<li><a href="#">Why Choose Us</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>	
					
					<!--Footer Column-->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget news-widget">
							<h2>Recent Projects</h2>
							<div class="single-item-carousel owl-carousel owl-theme">
								<div class="slide">
									<!--News Widget Block-->
									<div class="news-widget-block">
										<div class="widget-inner">
											<div class="image">
												<img src="images/resource/news-image-1.jpg" alt="" />
											</div>
											<div class="post-date">Foot Bridge </div>
											<h3><a href="blog-detail.html">Rehabitation of Mhlangeni Community Foot Bridge</a></h3>
										</div>
									</div>
									
									<!--News Widget Block-->
									<div class="news-widget-block">
										<div class="widget-inner">
											<div class="image">
												<img src="images/resource/news-image-2.jpg" alt="" />
											</div>
											<div class="post-date">Lozitha Bridge Construction</div>
											<h3><a href="blog-detail.html">Steel ﬁxing, Shattering, Concrete Works and Gabion </a></h3>
										</div>
									</div>
								</div>
								
								<div class="slide">
									<!--News Widget Block-->
									<div class="news-widget-block">
										<div class="widget-inner">
											<div class="image">
												<img src="images/resource/news-image-1.jpg" alt="" />
											</div>
											<div class="post-date">Tubungu</div>
											<h3><a href="blog-detail.html">Building of Dr Fynn’s House</a></h3>
										</div>
									</div>
									
									<!--News Widget Block-->
									<div class="news-widget-block">
										<div class="widget-inner">
											<div class="image">
												<img src="images/resource/news-image-2.jpg" alt="" />
											</div>
											<div class="post-date">Siteki Road Upgrading</div>
											<h3><a href="blog-detail.html">Concrete drainage pipes and kerb laying.</a></h3>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="row clearfix">
					
					<!-- Copyright Column -->
					<div class="copyright-column col-lg-6 col-md-12 col-sm-12">
						<div class="copyright"><a href="https://www.templateshub.net">All copyrights reserved @ 2020 - ICON Construction Ltd</a></div>
					</div>
					
					<!-- Social Column -->
					<div class="social-column col-lg-6 col-md-12 col-sm-12">
						<ul class="footer-nav">
							<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-skype"></span></a></li>
							<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</footer>
 
 <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<!-- Color Palate / Color Switcher -->

	

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/slick.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/script.js"></script>
<script src="js/color-settings.js"></script>
<script src="js/validate.js"></script>
<script src="js/mixitup.js"></script>


<script src="js/script.js"></script>
<!--Google Map APi Key-->
<script src="js/map-script.js"></script>
<!--End Google Map APi-->

<script src="js/color-settings.js"></script>



